@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@charset "utf-8";
/* notosans */

/* Type Selector:HTML 요소의 초기화를 선언 */
* { margin:0; padding:0; font-family:inherit; font-weight:400; font-size:inherit; font-weight:inherit; color:inherit; box-sizing:border-box} /* 전체 태그에 대하여 마진, 패딩, 서체크기, 서체종류 초기화 */
.pc * {font-family:inherit; font-size:inherit}

/* img, fieldset, button {border:0 none; vertical-align:middle} */

input {vertical-align:middle;}
input[type=submit], input[type=button] {-webkit-appearance: none; border-radius:0;}

/*a:focus { outline:none; }*/

img {border:none}

ul,ol,li { list-style:none; }

em,address {font-style:normal}

a:link {text-decoration:none; border:none}

a:hover, a:active, a:visited {text-decoration:none}

h1,h2,h3,h4,h5,dl,dt,dd,ul,li,ol,th,td,p,blockquote,form,fieldset,legend {margin:0;padding:0; font-weight:normal}

legend, caption {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0}

textarea {overflow:auto; resize: none;}

label {cursor:point;}

table {border-collapse: collapse; border-spacing:0}

b {font-weight:bold}

.fl {float:left}
.fr {float:right}

.fs11 {font-size:11px}

.gy01 {color:#999}

.tl {text-align:left}
.tr {text-align:right}
.tc {text-align:center}

.pl5 {padding-left:5px}
.pl10 {padding-left:10px}
.pr5 {padding-right:5px}
.pr10 {padding-right:10px}
.pt5 {padding-top:5px}
.pt10 {padding-top:10px}

.ml5 {margin-left:5px}
.mb5 {margin-bottom:5px}
.mb10 {margin-bottom:10px}
.mb20 {margin-bottom:20px}

.bd1c {border:1px solid #ccc}
.bd {font-weight:bold}
.cb {clear:both}
.pr {position:relative}

.emp1 {color:#F60}
.emp2 {color:#F00; font-family:NanumGothicBold}

.pr {position:relative}
.pa {position:absolute}

/* placholder */
::-webkit-input-placeholder{color:#999}
::-moz-placeholder{color:#4A4A4A} /* firefox 19+ */
:-ms-input-placeholder{color:#999} /* ie */
input:-moz-placeholder{color:#999}


/*.float해제 */
.clearfix:{*zoom:1;} /* IE5.5~7 브라우저 대응 Hack */
.clearfix:after{content:""; display:block; clear:both;}/* float 해제 */

/* layout */
#Wrapper{}

/* header */
#header{}



pre {white-space: pre-wrap;} /* CSS3*/
pre {white-space: -moz-pre-wrap;} /* Mozilla, since 1999 */
pre {white-space: -pre-wrap;} /* Opera 4-6 */
pre {white-space: -o-pre-wrap;} /* Opera 7 */
pre {word-break: break-all;} /* Internet Explorer 5.5+ */



/* redpage */
.resize-l { position:fixed; top:0; left:0; width:5px; height:100%; background:url(../images/trans.png); z-index:100; cursor:e-resize}
.resize-r { position:fixed; top:0; right:0; width:5px; height:100%; background:url(../images/trans.png); z-index:100; cursor:e-resize}
.resize-t { position:fixed; top:0; left:0; width:100%; height:5px; background:url(../images/trans.png); z-index:100; cursor:s-resize}
.resize-b { position:fixed; bottom:0; left:0; width:100%; height:5px; background:url(../images/trans.png); z-index:100; cursor:s-resize}
.resize-se {position:fixed; bottom:0; right:0; width:16px; height:16px; background:url(../images/resize.png); z-index:200; cursor:se-resize}

.ht {position:absolute; top:0; left:0; width:100%; height:100%; cursor:default; z-index:1}
