@import url(common.css);
input[type=button] {cursor:pointer}
#wrap { min-width:980px}
/* header */
.header {}
.header .top {position:relative; height:30px; background-color:#3f3f3f}
.header .top h2 {float:left; padding-left:10px; line-height:30px; font-size:14px; font-weight:500; font-family:'Noto Sans KR'; color:#fff}
.header .top .control {position:absolute; top:0; right:1px; padding-right:0}
.header .top .control li {width:40px; height:30px; float:left; border-left:1px solid #555}
.header .top .control li:hover {background-color:#494949}
.header .top .control .min {background-image:url(../images/btn_mini.png)}
.header .top .control .win {background-image:url(../images/btn_max.png)}
.header .top .control .max {background-image:url(../images/btn_nomal.png)}
.header .top .control .cls {background-image:url(../images/btn_close.png)}
.header .top .control .cls:hover {background-color:#be1d2a}
.header .lnb {position:relative; width:100%; height:50px; background-image:url(../images/top_bg.png); background-repeat:repeat-x;}
.header .lnb .menu {width:500px; height:inherit; font-weight:400; font-family:'Noto Sans KR'; font-size:14px; cursor:pointer;}
.header .lnb .menu li {float:left; width:calc(100% /4); height:50px; color:#fff; text-align:center}
.header .lnb .menu .on {background-image:url(../images/top_bg_on.png); background-repeat:repeat-x}
.header .lnb .menu li a {line-height:50px}
.header .lnb .search {position:absolute; right:12px; top:12px; font-family:'Noto Sans KR'; font-size:14px; color:#fff}
.header .lnb .search input[type=text] {width:250px; height:25px; padding-left:5px; border:1px solid #777; background-color:#444; background:linear-gradient(to bottom, #222 0%,  #444 40%)}
.header .lnb .search input[type=submit] {width:40px; height:25px; text-indent:-9999px; border:none; background-color:transparent; background-image:url(../images/btn_search.png); background-position:center; background-repeat:no-repeat}
.header .lnb .search a {display:inline-block; width:40px; height:25px; text-indent:-9999px; border:none; background-color:transparent; background-image:url(../images/btn_all.png); background-position:center; background-repeat:no-repeat}

.contents {position:absolute; top:80px; left:0; bottom:70px; width:100%; overflow-y:auto; overflow-x:hidden; background-color:#eee}

.contents .top {position:relative; height:50px; font-family:"dotum, gulim"; font-size:13px}
.contents .top .pick {position:absolute; top:10px; left:30px; }
.contents .top .pick select {width:200px; height:25px}
.contents .top .pick .cat_view {width:100px; height:25px; border:1px solid #ccc; padding-right:20px; background-color:#fff; background-image:url(../images/category.png); background-position:right top; background-repeat:no-repeat}
.contents .top .pick .cat_hide {background-position:right -20px;}
.contents .top .sort {position:absolute; top:10px; right:30px; }
.contents .top .sort li {display:inline-block}
.contents .top .sort li input {width:80px; text-align:center; border:none; color:#fff; line-height:24px;  background-color:#999}
.contents .top .sort li.on input {background-color:#38a526}
.contents .top .mode li input {width:25px; text-indent:-999px; background-image:url(../images/btn_all.png); background-repeat:no-repeat}
.contents .top .mode li:first-child input {background-image:url(../images/view_mode1.png);}
.contents .top .lately {position:absolute; top:10px; left:140px; height:28px; margin-right:80px; overflow:hidden}
.contents .top .lately h2 {display:inline-block; color:#38a526; font-size:12px; margin-right:10px}
.contents .top .lately li {display:inline-block; padding-left:10px; font-size:12px; margin-right:5px; font-family:Gulim, Dotum; color:#555; line-height:25px; border:1px solid #ddd; background-color:#f8f8f8; cursor:pointer;}
.contents .top .lately li a {display:inline-block; width:15px; text-align:center; margin:0 5px; line-height:13px}
.category {position:absolute; top:35px; left:30px; bottom:50px; width:520px; padding:10px; border:1px solid #ccc; padding:10px; box-shadow:3px 3px 3px #ccc; overflow-y:auto; background:#fff; z-index:100; display:none}
.category dl {float:left; width:120px; margin-right:20px; margin-bottom:50px}
.category dl dt {font-size:13px; line-height:20px}
.category dl dd {font-size:12px; line-height:20px; cursor:pointer;}

/* 메인 */
.thema_list {padding:50px 30px 0 30px; text-align:center}
.thema_list div {width:250px; display:inline-block; margin-bottom:50px; margin:0 5px; text-align:left; vertical-align:top; box-shadow:2px 2px 3px #ccc}
.thema_list h2 {position:relative; height:50px; line-height:20px; font-family:"Nanum Gothic"; font-weight:500; font-size:14px; padding-left:35px; color:#fff; background-color:#777}
.thema_list h2 label {font-size:12px; line-height:1}
.thema_list h2 input[type=image] {position:absolute; right:5px; top:10px}
.thema_list h2.best {background-color:#f46847}
.thema_list h2.best span {top:-3px; left:5px; width:31px; height:33px; text-indent:-3px; padding-top:13px; color:#fff; font-size:14px; border-radius:0px; background-image:url(../images/best_bg.png); background-repeat:no-repeat; background-color:transparent}
.thema_list h2 span {position:absolute; top:10px; left:5px; display:block; width:25px; line-height:20px; text-align:center; font-size:12px; color:#eee; border:none; border-radius:3px; background-color:#444}
.thema_list ul {}
.thema_list ul li {position:relative; line-height:30px; font-family:'gulim'; font-size:12px; font-weight:300; padding-left:10px; border-bottom:1px solid #eee; background-color:#fff}
.thema_list ul li p {position:absolute; top:0px; right:10px; display:block; right:5px; line-height:30px;}
.thema_list ul li p span {display:inline-block; text-align:right; margin-left:5px}
.thema_list ul li p .prc {width:60px}
.thema_list ul li p .chg {width:50px}
.thema_list ul li p .chg em {text-align:right; padding-left:10px; background-image:url(../images/chg_bl.png); background-repeat:no-repeat}
.thema_list ul li p.s1 em {background-position:0 0}
.thema_list ul li p.s2 em {background-position:0 -25px}
.thema_list ul li p.s3 em {background-position:0 -100px}
.thema_list ul li p.s4 em {background-position:0 -75px}
.thema_list ul li p.s5 em {background-position:0 -50px}

.thema_list ul li p .rat {width:50px}
.thema_list .click {position:absolute; top:45px; right:5px; width:180px; font-family:'gulim'; font-size:12px; line-height:24px; border:1px solid #ccc; z-index:100}
.thema_list .click li {color:#444; background-color:#fff; padding-left:10px; border-bottom:1px solid #eee; cursor:pointer;}
.thema_list .click li:hover {color:#222; background-color:#777; background:linear-gradient(to bottom, #ccc 0%,  #eee 20%)}

.up, .s1, .s2 {color:#f10a0a}
.dn, .s4, .s5 {color:#0a72f1}

.contents .move {position:absolute; top:45%; left:0; width:100%; height:0; z-index:100}
.contents .move li {background:none}
.contents .move input {display:block; margin:5px; text-indent:-9000px; border:1px solid #ccc; width:30px; height:26px; background-color:#fff; background-repeat:no-repeat; opacity:0.8}
.contents .move input:hover {opacity:1}
.contents .move .first {background-image:url(../images/btn_move_left.png); background-position:center 0}
.contents .move .prev {background-image:url(../images/btn_move_left.png); background-position:center -26px}
.contents .move .next {background-image:url(../images/btn_move_right.png); background-position:center 0}
.contents .move .last {background-image:url(../images/btn_move_right.png); background-position:center -26px}
.news_bar {position:fixed; bottom:69px; width:100%; height:25px; line-height:25px; border:1px solid #aaa; font-size:12px; font-family:gulim; color:#777; background-color:#fff; z-index:10}
.news_bar .list {float:left; padding-left:20px}
.news_bar .control {float:right; width:52px; height:23px; overflow:hidden}
.news_bar .control li {float:left; border-left:1px solid #aaa}
.news_bar .control li input {border:none}

/* 마이페이지 */
.my_list {padding:0 50px; text-align:left}
.my_list dl {width:180px; display:inline-block; margin:0 5px 20px; text-align:left; vertical-align:top; box-shadow:2px 2px 3px #ccc}
.my_list dl dt {position:relative; height:50px; line-height:20px; font-family:"Nanum Gothic"; font-weight:500; font-size:14px; padding-left:35px; color:#fff; background-color:#777; cursor:pointer;}
.my_list dl dt label {font-size:12px; line-height:1}
.my_list dl dt input[type=image] {position:absolute; right:5px; top:10px}
.my_list dl dt.pick {background-color:#3aac26}
.my_list dl dt.pick span {background-color:#2a5f41}
.my_list dl dt span {position:absolute; top:10px; left:5px; display:block; width:25px; line-height:20px; text-align:center; font-size:12px; color:#eee; border:none; border-radius:3px; background-color:#444}
.my_list dl dd {position:relative; line-height:30px; font-family:'gulim'; font-size:12px; font-weight:300; padding-left:10px; border-bottom:1px solid #eee; background-color:#fff}
.my_list dl dd p {position:absolute; top:0px; right:10px; display:block; right:5px; line-height:30px;}
.my_list .click {position:absolute; top:45px; right:5px; width:180px; font-family:'gulim'; font-size:12px; line-height:24px; border:1px solid #ccc; z-index:100}
.my_list .click li {color:#444; background-color:#fff; padding-left:10px; border-bottom:1px solid #eee; cursor:pointer;}
.my_list .click li:hover {color:#222; background-color:#777; background:linear-gradient(to bottom, #ccc 0%,  #eee 20%)}

/* 분석 */
.overview {position:relative; height:230px; margin:20px 30px 20px}
.overview .pic {position:relative; float:left; width:350px; height:230px; margin-right:10px}
.overview .pic img {width:350px; height:230px}
.overview .pic li {position:absolute; left:0; top:0; width:100%; height:30px; line-height:20px; text-align:left; padding:5px 10px; color:#fff; font-family:gulim; font-weight:500; background-color:rgba(0,0,0,0.7)}
.overview .pic li span {display:block; float:left; margin-right:5px; font-size:14px }
.overview .pic li .name {width:100px; font-size:14px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal}
.overview .pic li em {display:inline-block; font-style:normal; font-size:0.8em; font-weight:normal; line-height:5px}
.overview .pic .up {color:#ff4c2f; font-weight:bold; font-family:Arial}
.overview .pic .dn {color:#14b1fe; font-weight:bold; font-family:Arial}
.overview .pic li label {display:block; float:left; margin-right:5px; font-size:12px; padding:0 5px; line-height:20px; background-color:#555}
.overview .pic li .add {float:right; border:none; height:20px; line-height:22px; padding:0 5px; font-size:12px; font-family:Gulim, Dotum; font-weight:300; color:#777}
.overview .pic li .addon {color:#fff; background-color:#2fa619}
.overview .sum {position:absolute; left:360px; right:0; min-width:480px; height:230px; border:1px solid #ccc; background:#fff}
.overview .sum .tab {height:35px; background:#eee}
.overview .sum .tab a {display:block; float:left; width:100px; line-height:35px; text-align:center; border-right:1px solid #ccc; font-family:'Noto Sans KR'; font-size:14px}
.overview .sum .tab a.on {background:#fff}
.overview .sum .ctt { padding:20px 10px}
.overview .move {display:none}
.overview .move .fl {margin-left:-30px}
.overview .move .fr {margin-right:-30px}

.list {position:absolute; top:300px; bottom:0; width:100%; font-size:12px; font-family:Gulim, Dotum; background:#eee; transition:all 0.5s ease .1s; z-index:10}
.list .rnk {width:70px; text-align:center}
.list .itm {width:120px; text-align:left; padding-left:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal}
.list .prc {width:70px; text-align:right; padding-right:10px}
.list .chg {width:70px; text-align:right; padding-right:10px}
.list .rat {width:70px; text-align:right; padding-right:10px}
.list .avr {width:80px; text-align:right; padding-right:10px}
.list .vol {display:none}
.list .vch {display:none}
.list .tot {display:none}
.list .ctt {position:absolute; left:400px; right:0; padding-left:10px; text-align:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal}
.list .th {height:40px; color:#fff; background:#777}
.list .th ul {position:relative}
.list .th ul > li {float:left; height:40px; line-height:40px; text-align:center; padding:0}
.list .th .btn {position:absolute; top:10px; right:10px; width:100px; height:21px}
.list .th .btn input {display:none; float:left}
.list .th .btn input.on {display:block; border:none; border-radius:5px; margin-right:5px; padding:0 10px; line-height:18px; padding-top:3px; background-color:#2fa619}
.list .th .btn_up {display:block; float:left; width:21px; height:21px; background-image:url(../images/list_up.png)}
.list .td {overflow-y:auto}
.list .td ul {clear:both; height:30px; background:#fff}
.list .td ul:nth-child(even) {background:#f8f8f8}
.list .td ul > li {float:left; height:30px; line-height:30px}
.listup {top:50px; transition:all 0.5s ease .1s; z-index:500}
.listup .th .btn_up {background-position:0 -21px}
.info .ctt {display:none}
.info .vol {display:block; width:100px; text-align:right}
.info .vch {display:block; width:100px; text-align:right}
.info .tot {display:block; width:100px; text-align:right}
#anal_list .list {position:absolute; top:50px;}

.news {position:absolute; top:50px; bottom:0; width:100%; font-size:12px; font-family:Gulim, Dotum; overflow-y:auto; border-top:1px solid #777}
.news dl {clear:both; min-height:30px; background:#fff}
.news dl:nth-child(even) {background:#f8f8f8}
.news dl > li {float:left; height:30px; line-height:30px}
.news dt {position:relative; height:30px; line-height:30px}
.news dt .cat {display:block; float:left; width:120px; height:inherit; font-size:12px; padding-left:20px;  border-right:1px solid #eee; color:#c42e2e; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal}
.news dt .tit {position:absolute; top:0; left:120px; right:120px; padding-left:10px; text-align:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; cursor:pointer}
.news dt .dat {display:block; float:right; width:120px; font-size:12px; color:#777}
.news dd {display:none; font-size:14px; padding:10px 80px 30px 130px; border-top:1px solid #eee; line-height:1.8; white-space:pre-wrap}
.news dd p {margin-bottom:20px}
.news .on dt { height:50px; font-size:18px; line-height:50px}
.news .on dd {display:block}
.news .more {text-align:center; font-size:16px; font-family:Noto Sans KR; padding-right:65px; line-height:50px; cursor:pointer; background:url(../images/news_more.png) no-repeat 50% 19px}

.search_title {font-size:18px; line-height:50px; padding:0 5%; font-family:"Noto Sans KR"; font-weight:500}
.search_title span {font-size:12px; font-family:Gulim; color:#e21}
.search_result {position:absolute; top:50px; bottom:0; width:100%; padding-top:20px; font-family:Gulim, Dotum; background:#fff; overflow-y:auto; border-top:1px solid #777}
.search_result h2 {margin:0 5%; font-size:14px; font-weight:bold; font-family:"Nanum Gothic"; font-weight:700; margin-bottom:10px; color:#e61}
.search_result ul {margin:0 5%; font-size:13px; margin-bottom:20px; border-bottom:1px solid #ddd; padding-bottom:10px;}
.search_result ul > li {margin-bottom:15px}
.search_result ul h3 {margin-bottom:5px}
.search_result ul b {background-color:#fff27f; font-weight:bold}

.login {position:absolute; top:30px; bottom:0; width:100%; background:#494949; display:none;}
.login_box {position:absolute; top:50%; left:50%; width:500px; height:320px; margin:-170px 0 0 -250px; font-size:14px; font-family:Nanum Gothic; font-weight:400; box-shadow:1px 1px 5px #333; background:#f1f1f1}
.login_box .top {height:40px; padding-left:20px; line-height:39px; color:#fff; margin-bottom:40px; font-family:Noto Sans KR; font-weight:500; font-size:18px; background:#23b400}
.login_box > div {margin:0 20px}
.login_box h2 {font-family:Noto Sans KR; font-size:24px; font-weight:500; margin-bottom:20px}
.login_box .ipt {position:relative; height:95px; margin-bottom:5px}
.login_box .ipt li {margin-bottom:5px; line-height:40px;}
.login_box .ipt label { display:inline-block; width:65px}
.login_box .ipt input {height:40px; width:220px; border:1px solid #ccc;}
.login_box .ipt .btn {position:absolute; right:0; top:2px}
.login_box .ipt .btn input[type=submit] {width:160px; height:85px; color:#fff; font-size:18px; border:none; background:#23b400;}
.login_box .chk {padding-left:70px; padding-bottom:20px; border-bottom:1px solid #ccc}
.login_box .chk label {margin-right:10px}
.login_box .member {padding-left:70px; padding-top:20px; font-size:13px; line-height:24px; border-top:1px solid #fff;}
.login_box .member li {margin-bottom:5px}
.login_box .member a {display:block; width:160px; float:right; text-align:center; color:#fff; background:#999}
.login_box .member .join a {background:#777}

.thema_all {padding-top:0px; margin:0 20px}
.thema_box {float:left; width:290px; margin:10px; background:#fff}
.thema_box h2 {color:#fff; text-align:center; font-size:14px; line-height:30px; margin-bottom:5px; background-color:#777}
.thema_box div {}
.thema_box div  ul {height:30px; margin:0 10px}
.thema_box div  ul li {float:left; font-size:12px; line-height:30px; font-family:Gulim}
.thema_box div  ul .nam {width:90px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; cursor:pointer;}
.thema_box div  ul .rat {width:50px; text-align:right}
.thema_box div  ul .upi {width:30px; text-align:right}
.thema_box div  ul .dni {width:30px; text-align:right}
.thema_box div  ul .avr {width:70px; text-align:right}
.thema_box div  ul:first-child  {border-bottom:1px solid #ccc}

.bottom {position:fixed; bottom:0; width:100%; height:70px; font-size:12px; font-family:gulim; color:#777; border-top:1px solid #ccc}
.bottom ul {float:left; width:50%; padding-left:20px; padding-top:12px}
.bottom ul li { margin-bottom:10px; line-height:18px}
.bottom ul li label {display:inline-block; min-width:80px; text-align:center; padding:0 5px; margin-right:10px; color:#fff; background-color:#c42e2e}
.bottom ul li p {display:inline}
.bottom ul li p span {padding-right:5px}

#e-bdy > .contents {display:none;}

#e-bdy > .is-shown {
  pointer-events: auto;
  display: block;
  opacity: 1;
  transform: translateX(0);
  transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}

#e-my.contents .move {top:15%}
#e-my.contents .top { height:30px; line-height:30px}
#e-my.contents .top ul { text-align:right; padding-right:30px; color:#555; font-family:Gulim, Dotum}
